.tall-change {
  position: relative;

  &__inner {
    border: 1px solid var(--color-black);
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding: 24px 24px;
    box-sizing: border-box;
    width: calc(100% - 88px);
    margin: 0 auto;
    min-height: calc(88px + 24px + 24px)
  }

  &__button {
    width: 88px;
    height: 88px;
    outline: 8px solid var(--color-white);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: var(--color-white);

    &:hover {
      transform: scale(1.1) translateY(-50%);
    }

    &_eat {
      right: 0;
    }

    &_drink {
      left: 0;
    }
  }

  &__alice {
    pointer-events: none;
    transition: width 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    object-fit: contain;
  }
}
