.rabbit-hat {
  width: 20%;
  margin: 0 auto;
  position: relative;

  &__hat {
    z-index: 1;
    position: relative;
    width: 100%;

    &_placeholder {
      opacity: 0;
    }
  }

  &__rabbit {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0.4);
    width: 60%;
    transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      opacity 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &_show {
      transform: translateY(-42.5%) translateX(-50%) scale(1);
      opacity: 1;
    }

  }
}

@media (max-width: 1024px) {
  .rabbit-hat {
    width: 35%;
  }
}

@media (max-width: 852px) {
  .rabbit-hat {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .rabbit-hat {
    width: 65%;
  }
}

@media (max-width: 393px) {
  .rabbit-hat {
    width: 80%;
  }
}