@use "../../../styles//mixins" as m;

.separator {
  @include m.font(
    $color: var(--color-black),
    $family: var(--font-title),
    $size: var(--size-subtitle),
    $align: center
  );

  animation: separator-scale 1s steps(1, start) infinite;
}

@keyframes separator-scale {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
