@use "../../../styles//mixins" as m;

.keyhole {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  &__img-container {
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    aspect-ratio: 3 / 2;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    position: absolute;

    &_garden {
      max-width: calc(100% + var(--gap) * 2);
      width: calc(100% + var(--gap) * 2);
      height: calc(100% + var(--gap) * 2);
      max-height: calc(100% + var(--gap) * 2);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__mask {
    top: 0;
    width: 100%;

    left: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    pointer-events: none;
    z-index: 1;

    &_hide {
      transform: scale(10);
      opacity: 0.5;
    }
  }

  &__alt {
    @include m.font(
      $color: var(--color-black),
      $family: var(--font-text),
      $size: 16px
    );
  }
}
