.rabbit-clock {
  width: 100%;
  aspect-ratio: 3 / 2;
  border-radius: 20px;
  overflow: hidden;
  position: relative;

  &__face {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__hand {
    position: absolute;

    &_big {
      left: 48%;
      top: 35%;
      width: 8%;
      animation: hand-rotate 10s infinite reverse linear;
      transform-origin: 26% 77%;
    }

    &_small {
      left: 50%;
      top: 46%;
      width: 6%;
      animation: hand-rotate 10s infinite normal linear;
      transform-origin: 1% 1%;
    }
  }
}

@keyframes hand-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
